.timeline {
  width: 100%;
  background: grey;
  height: 30px;
  display: inline-flex;
  position: relative;
}

.schedule,
.turnAround {
  background: green;
  height: 30px;
  top: 0;
  position: absolute;
}

.turnAround {
  background: purple;
}
